<div>
  <p>
    Hello! I'm <strong>Hajorda</strong>, a Computer Engineering student at TED University in Ankara, Turkey. My academic journey has equipped me with a solid foundation in software development, and I have a particular passion for Python and web technologies.
  </p>
  <p>
    I enjoy applying my skills through various projects, some of which are showcased on my <a href="https://github.com/Hajorda/" target="_blank">GitHub profile</a>. Here are a few highlights:
  </p>
  <ul class="mt-5">
    <li>
      <strong>SteamClone.</strong>
      A Java-based application that emulates the core functionalities of the Steam platform.
    </li>
    <li>
      <strong>CMPE_223.</strong>
      A collection of Java projects and assignments from my coursework in data structures and algorithms.
    </li>
    <li>
      <strong>Email Signature Generator.</strong>
      A TypeScript project that creates customizable email signatures for professional use.
    </li>
    <li>
      <strong>GuideSC23Backend.</strong>
      A backend service developed in Java for a university project, focusing on providing guide services.
    </li>
    <li>
      <strong>Kauwela.</strong>
      A Java application designed to manage and organize summer activities.
    </li>
    <li>
      <strong>SC_24_Project.</strong>
      A collaborative Dart project aimed at developing a mobile application for student coordination.
    </li>
  </ul>
  <p>
    I'm always eager to connect with fellow developers and enthusiasts. Feel free to reach out to me via:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Email:</strong>
      <a href="mailto:hajorda@gmail.com">hajorda@gmail.com</a> or <a href="mailto:hajorda@proton.me">hajorda@proton.me</a>
    </li>
    <li>
      <strong>Discord:</strong>
      Hajorda#6261
    </li>
  </ul>
  <p>
    Let's collaborate and create something amazing together!
  </p>
</div>
