<div>
  <p>
    Hello! I'm <strong>AliBolat</strong>, a Computer Engineering student at TED University in Ankara, Turkey. My academic journey has equipped me with a solid foundation in software development, and I have a particular passion for Python and web technologies.
  </p>
  <p>
    I enjoy applying my skills through various projects, some of which are showcased on my <a href="https://github.com/Hajorda/" target="_blank">GitHub profile</a> or my <a href="https://www.alibolat.xyz/resume.pdf">Resume</a>
  </p>
  
  <p>
    I'm always eager to connect with fellow developers and enthusiasts. Feel free to reach out to me via:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Email:</strong>
      <a href="mailto:hajorda@gmail.com">hajorda@gmail.com</a> or <a href="mailto:hajorda@proton.me">hajorda@proton.me</a>
    </li>
    <li>
      <strong>Discord:</strong>
      Hajorda#6261
    </li>
  </ul>
  <p>
    Let's collaborate and create something amazing together!
  </p>
</div>
